---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1 class="hero-section-header">From<br/> <span class='garden'>garden</span><br/> to <span class='government'>government</span></h1>
				<p>
	 				 Democratic tools and methods for communites of all shapes and sizez
				</p>
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="/assets/hero_trees.jpg"
						alt="Dag Peak, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
</Container>

<style>
	.hero-section-header{
		font-weight:200;
	}
	.garden{
		color: var(--theme-on-surface-1);
		font-weight:bold;
	}
	.government{
		font-weight:bold;
		color: var(--theme-on-surface-2);
	}
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
